extends layout

block content

  h1 #{supplier.name}

  div(style='margin-left:20px;margin-top:20px')

    p #[strong Address:] #{supplier.address}

    if supplier.phone
      p #[strong Phone Number:] #{supplier.phone}

    dl
      each item in supplier_items
        dt
          a(href=item.url) #{item.name}

      else
        p This supplier has no items

    hr
    p
      a(href=supplier.url+'/delete') Delete supplier

